body {
  text-align: center;
  background-color: #eaf6f6;
}

h1 {
  font-size: 5rem;
  color: #25cce6;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  margin: 90px auto 40px;
}

footer {
  margin-top: 5%;
  color: #25cce6;
  text-align: center;
  font-family: sans-serif;
}

.s {
  background-image: url("images/tom1.png");
}

.h {
  background-image: url("images/tom2.png");
}

.r {
  background-image: url("images/tom3.png");
}

.i {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.a {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.button {
  text-align: center;
  margin: 30px auto;
}

.link {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 50px;
}

.dm {
  width: 5%;
  position: fixed;
  top: 10px;
  left: 10px;
}

.darkmode {
  background-color: #202020;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
